{% extends "base.html" %}

{% block content %}
    {# --- Markdown content above --- #}

    {{ section.content | split(pat="<!-- recent-posts -->") | first | safe }}

    {# --- Inject recent blog posts --- #}
    <h2>Recent Posts</h2>
    {% set blog_section = get_section(path="blog/_index.md") %}
    <section class="content-section">
    <ul class="content-list">
        {% for page in blog_section.pages | slice(end=4) %}
            {% include "partials/content-listing-item.html" %}
        {% endfor %}
    </ul>
</section>
    {# --- Markdown content below --- #}
      {{ section.content | split(pat="<!-- recent-posts -->") | last | safe }}

{% endblock content %}
